:root {
    --mdc-theme-secondary: #6200ee;
    --mdc-theme-secondary-light: #b37eff;
    --mdc-theme-secondary-dark: #8936ff;
    --mdc-theme-primary: #018786;
    --mdc-theme-primary-light: #02cecc;
    --mdc-theme-primary-dark: #004040;
}